.row {
	text-align: center;
	margin: 0 auto;
}
body {
  text-align: center;
  margin: 0px auto;
}

html {
  font-size: 100px;
  text-rendering: optimizeLegibility;
}

ul li {
	display: inline-block;
	margin-top: 50px;
}

.title { 
	color: pink;
	font-family: 'Monofett', cursive;
	font-size: 375%;
}

.margin {
	top: 15px;
}

.background {
  background-image: url("../img/sparkle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0;
  height: 100%;
}

#name {
	color: #FF0303;
	font-family: 'Roboto Condensed', sans-serif;
}

#month,
#forecast,
#personality,
#love {
	color: black;
	font-family: 'Rajdhani', sans-serif;;
	font-size: 15px;
}

#month{
	font-weight: bold;
	font-size: 20px;
}

.aries,
.taurus,
.gemini,
.cancer,
.leo,
.virgo,
.libra,
.scorpio,
.sagittarius,
.capricorn,
.aquarius,
.pisces{
	border: 1px solid white;
	background-color: black;
	border-radius: 5px;
}

#aries-sm,
#taurus-sm,
#gemini-sm,
#cancer-sm,
#leo-sm,
#virgo-sm,
#libra-sm,
#scorpio-sm,
#sagittarius-sm,
#capricorn-sm,
#aquarius-sm,
#pisces-sm
 {
	display: none;
}

